/* Overall Page Formating */

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    font-family: 'Grenze Gotisch', cursive;
    color: rgb(219, 20, 20);
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid rgb(219, 20, 20);
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background-color: rgb(136, 96, 73);
    margin: 0;
    padding: 10px 10px;
    height: 100%;
}

/* initial View & Expanded View */

.bookmark-form {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding: 15px 10px;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(136, 96, 73);
}

.add-bookmark {
    color: white;
    background-color: rgb(219, 20, 20);
    border: 1px solid rgb(219, 20, 20);
    padding: 5px 10px;
    border-radius: 5px;
}

.filter-label {
    color: white;
    /*padding-top: 5px;*/
}

#rating-filter {
    color: white;
    background-color: rgb(219, 20, 20);
    padding: 5px 10px;
    border: 1px solid rgb(219, 20, 20);
    border-radius: 5px;
}

.bookmark-list-container {
    margin: 103px 0 10px 0;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 5px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    background-color: white;
}

.shrunk-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    width: 100%;
    border-bottom: 2px solid rgb(219, 20, 20);
}

.title {
    font-size: 16px;
    align-self: center;
}

.title p {
    margin: 0;
}


.expanded-description {
    border-bottom:1px solid black;
    background-color: white;
}

.delete-btn {
    float: right;
    margin: 5px 5px 0 5px;
    color: white;
    background-color: rgb(219, 20, 20);
    border: 2px solid rgb(219, 20, 20);
    border-radius: 5px;
}


p.description-text {
    font-size: 12px;
    margin: 0;
    padding: 10px;

}

.page-link {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(219, 20, 20);
    border: 2px solid rgb(219, 20, 20);
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.fa-star {
    color: red;
    font-size: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    background-color: rgb(136, 96, 73);
}

/* Add Bookmark & Error Page */

.add-bookmark-subheader {
    color: white;
    font-size: 14px;
    margin-top: 45px;
    text-align: center;
}

.add-bookmark-container {
    margin: 0px 0 10px 0;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 5px;
}

.add-form-label:first-of-type {
    margin-top: 10px;
}

.add-form-input:last-of-type {
    margin-bottom: 20px;
}

.add-form-label,
.add-form-input {
    color: rgb(219, 20, 20);
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.add-form-label {
    font-weight: 800;
}

.add-form-input {
    padding: 10px;
}

#rating {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.add-form-button {
    display: inline-block;
    width: 40%;
    padding: 10px 20px;
    margin-left: 19px;
}

.cancel-btn {
    background-color: rgb(255, 79, 79);
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    background-color: rgb(79, 255, 79);
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

/* Error Box */



.error-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 45%;
    left: 12.5%;
    width: 75%;
    height: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;

}

.error-text {
    align-self: center;
    justify-items: center;
    margin: auto;
    padding: 5px;
}

.close-error-button {
    align-self: flex-end;
    background-color: rgb(253, 75, 75);
    border: 2px solid red;
    
    width: 100%;
    margin-left: 10px;
    padding: 0;
    font-size: 20px;
}

i.fa-window-close:hover {
    cursor: pointer;
    text-align: right;
}

/* Media Query for Large Screens */

@Media all and (min-width: 800px) {
    .header,
    .bookmark-form {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        width: 816px;
        margin-left: auto;
        margin-right: auto;
        border: 8px solid black;
    }

    html {
        width: 100%;
        background-image: radial-gradient( rgba(255, 255, 255, .5),rgba(0, 0, 0, 0.3)), url(./images/bookwall.jpg);
        background-color: white;
        background-size: cover;

    }
}
